@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Passion+One&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

.navbar{
    height: 64px;
    background-color: #a53a3a;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6vw;
}

.title-header-h1{
    color: white;
    text-decoration: none;
}

#search-input{
    width: 320px;
    height: 32px;
    margin-right: 16px;
    padding: 0px 16px;
    border: none;
    border-radius: 4px;
}

#search-input:focus{
    outline: none;
}

#search-form button{
    height: 32px;
    width: 64px;
    border: none;
    border-radius: 4px;
}

#search-form button:hover{
    cursor: pointer;
}
.navbar i{
    font-size: 32px;
}

.courses-title-h1{
    text-align: center;
    margin-bottom: 32px;
}

.courses-div{
    width: 960px;
    padding: 48px;
    margin: 0 auto;
}

.one-course-div{
    display: flex;
    width: 100%;
    margin-bottom: 32px;
    padding: 32px;
    background-color: #e9b7b7;
    color: black;
    text-decoration: none;
}

.one-course-div:hover{
    background-color: #d89797;
    box-shadow: 10px 10px 24px -5px #000000bf;
}

.one-course-div h2{
    margin-bottom: 24px;
}

.one-course-div img{
    width: 30%;
    margin-right: 32px;
}










footer{
    padding: 4vw 10vw;
    display: flex;
    justify-content: space-between;
    color: #fff;
    background-color: #a53a3a;
    font-size: 18px;
}